Data link: https://www.vietnamonline.com/weather.html

In [1]:
import pandas as pd

In [2]:
data = {
    "Month": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    "Temp_max_North": [20, 23.4, 26, 28, 32, 34, 33, 26, 32, 29, 26, 22],
    "Temp_min_North": [14, 16.5, 15, 22, 24, 26, 26, 15, 25, 22, 19, 15],
    "Humi_North": [68.5, 67, 76, 75, 75, 71, 72, 76, 79.4, 74, 75, 77],
    "Rain_North": [0, 0, 43, 60.3, 133, 162, 178, 184, 109, 77, 40, 16],
    "Rain_Days_North": [0, 0, 5.8, 5, 7, 8, 8, 8, 5, 4, 2, 1],
    "Temp_max_Central": [32, 24, 28, 31, 33, 35, 34, 34, 32, 29, 27, 25],
    "Temp_min_Central": [21, 19.5, 22, 24, 25, 26, 26, 25, 24, 23, 21, 20],
    "Humi_Central": [86, 84.5, 83, 82, 80, 73, 74, 80.3, 82.7, 86, 85, 82],
    "Rain_Central": [0, 0, 24, 30.6, 63, 55, 82.9, 114, 307, 477, 414, 215],
    "Rain_Days_Central": [0, 0, 2, 2, 3, 3, 5, 6, 10, 14, 14, 13],
    "Temp_max_South": [25, 34, 34, 35, 34, 33, 32, 32, 32, 31, 32, 32],
    "Temp_min_South": [19, 23.3, 23, 25, 24, 23, 23, 23, 23, 23, 22, 21],
    "Humi_South": [61.5, 58.5, 74, 63, 70, 75, 81.1, 80, 81.6, 75, 75, 72],
    "Rain_South": [0, 0, 13.8, 10.8, 66.5, 114, 13.8, 101, 79.8, 117, 35.7, 17.5],
    "Rain_Days_South": [0, 0, 1, 0, 2, 7, 1, 7, 6, 5, 2, 1]
}

df = pd.DataFrame(data)

In [3]:
df.head()

,Month,Temp_max_North,Temp_min_North,Humi_North,Rain_North,Rain_Days_North,Temp_max_Central,Temp_min_Central,Humi_Central,Rain_Central,Rain_Days_Central,Temp_max_South,Temp_min_South,Humi_South,Rain_South,Rain_Days_South
0,1,20.0,14.0,68.5,0.0,0.0,32,21.0,86.0,0.0,0,25,19.0,61.5,0.0,0
1,2,23.4,16.5,67.0,0.0,0.0,24,19.5,84.5,0.0,0,34,23.3,58.5,0.0,0
2,3,26.0,15.0,76.0,43.0,5.8,28,22.0,83.0,24.0,2,34,23.0,74.0,13.8,1
3,4,28.0,22.0,75.0,60.3,5.0,31,24.0,82.0,30.6,2,35,25.0,63.0,10.8,0
4,5,32.0,24.0,75.0,133.0,7.0,33,25.0,80.0,63.0,3,34,24.0,70.0,66.5,2

In [4]:
file_path = "weather_data.csv"
df.to_csv(file_path, index=False)

In [12]:
df

,Month,Temp_max_North,Temp_min_North,Humi_North,Rain_North,Rain_Days_North,Temp_max_Central,Temp_min_Central,Humi_Central,Rain_Central,Rain_Days_Central,Temp_max_South,Temp_min_South,Humi_South,Rain_South,Rain_Days_South
0,1,20.0,14.0,68.5,0.0,0.0,32,21.0,86.0,0.0,0,25,19.0,61.5,0.0,0
1,2,23.4,16.5,67.0,0.0,0.0,24,19.5,84.5,0.0,0,34,23.3,58.5,0.0,0
2,3,26.0,15.0,76.0,43.0,5.8,28,22.0,83.0,24.0,2,34,23.0,74.0,13.8,1
3,4,28.0,22.0,75.0,60.3,5.0,31,24.0,82.0,30.6,2,35,25.0,63.0,10.8,0
4,5,32.0,24.0,75.0,133.0,7.0,33,25.0,80.0,63.0,3,34,24.0,70.0,66.5,2
5,6,34.0,26.0,71.0,162.0,8.0,35,26.0,73.0,55.0,3,33,23.0,75.0,114.0,7
6,7,33.0,26.0,72.0,178.0,8.0,34,26.0,74.0,82.9,5,32,23.0,81.1,13.8,1
7,8,26.0,15.0,76.0,184.0,8.0,34,25.0,80.3,114.0,6,32,23.0,80.0,101.0,7
8,9,32.0,25.0,79.4,109.0,5.0,32,24.0,82.7,307.0,10,32,23.0,81.6,79.8,6
9,10,29.0,22.0,74.0,77.0,4.0,29,23.0,86.0,477.0,14,31,23.0,75.0,117.0,5
10,11,26.0,19.0,75.0,40.0,2.0,27,21.0,85.0,414.0,14,32,22.0,75.0,35.7,2
11,12,22.0,15.0,77.0,16.0,1.0,25,20.0,82.0,215.0,13,32,21.0,72.0,17.5,1